h1
{
 background-color: aqua;
 color: navy;
}
h1
{
 cursor: -webkit-grabbing;
}
body
{
 background-color: aqua;
}
body{
 clip: auto;
 color: navy
}
h2
{
 color:navy ;
 background-color: aqua;
}
p
{
 color: navy;
}
p
{
 height: 30px;
 content: normal;
 margin: normal;
 cursor: pointer;
 content: icon;
 animation: backwards;
}